/third-sso-starter/sso-dingtalk-starter/target/
/third-sso-starter/sso-feishu-starter/target/
/third-sso-starter/sso-wechat-starter/target/
/sso-test/target/classes/
/.idea/
/sso-test/target/
/third-sso-starter/sso-wechat-open-starter/target/
