/third-sso-starter/sso-dingtalk-starter/target/
/third-sso-starter/sso-feishu-starter/target/
/third-sso-starter/sso-wechat-starter/target/
/sso-test/target/classes/
/.idea/
/sso-test/target/
/third-sso-starter/sso-wechat-open-starter/target/
/third-pay-starter/pay-wechat-starter/target/
/third-pay-starter/pay-common/target/classes/
/pay-test/
/third-pay-starter/pay-alipay-starter/target/
/third-pay-starter/pay-common/target/
/ocr-spring-boot-starter/target/
